<form class="form-horizontal" method="post" action="http://localhost:3000/app/attpessoa">
<fieldset>

<!-- Form Name -->
<legend>Atualizar</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="id">ID</label>
  <div class="col-md-2">
  <input id="id" name="id" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="name">Nome</label>
<div class="col-md-4">
<input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="lastName">Sobrenome</label>
<div class="col-md-4">
<input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md" required="">

</div>
</div>

<!-- Select Basic -->
<div class="form-group">
<label class="col-md-4 control-label" for="sex">Sexo</label>
<div class="col-md-4">
<select id="sex" name="sex" class="form-control">
  <option value="" disabled selected>Selecione</option>
  <option value="M">Masculino</option>
  <option value="F">Feminino</option>
</select>
</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="phone">Telefone</label>
<div class="col-md-4">
<input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required="">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="address">Endereço</label>
<div class="col-md-4">
<input id="address" name="address" type="text" placeholder="" class="form-control input-md" required="">

</div>
</div>

<!-- Button (Double) -->
<div class="form-group">
<label class="col-md-4 control-label" for="submitB"></label>
<div class="col-md-8">
<button id="submitB" type="submit" name="submitB" class="btn btn-success">Confirma</button>
<button id="cleanB" name="cleanB" class="btn btn-warning">Limpar Campos</button>
</div>
</div>

</fieldset>
</form>
